:root {
  --light-color: #a9d1ec;
  --dark-color: #333333;
  --font-color: #f1f1f1;
  --font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--light-color);
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
