import logoUrl from "./logo.png";

style {
  header {
    font-size: 2em;
    font-weight: 300;
    background-color: var(--dark-color);
    color: var(--font-color);
    padding: 38px 10px;
    text-align: center;
  }
  body {
    font-family: var(--font-family);
    margin: 0 auto;
  }
  .logo {
    height: 2.2em;
  }
}

<header>
  <img src=logoUrl class="logo"/>
  <div>${input.title}</div>
</header>
